<mat-toolbar color="primary">
    <span><a routerLink="/">MyMessages</a></span>
    <span class="spacer"></span>
    <ul>
        <li>
            <!-- when we use routerLink, this is not a normal http request. By using this, we are able
            to re-render page without http request(refreshing the page) -->
            <!-- routerLinkActive-> angular automatically understand that we are in /create route.
            and it gives our <a></a> tag a css class. -->
            <a mat-button routerLink="/create" routerLinkActive="mat-accent">New Post</a>
        </li>
        <li>
            <a mat-button routerLink="/login" routerLinkActive="mat-accent">Login</a>
        </li>
        <li>
            <a mat-button routerLink="/signup" routerLinkActive="mat-accent">Sign Up</a>
        </li>
    </ul>
</mat-toolbar>