/* :host -> it targets the element's itself. I mean this element <app-post-list></app-post-list>  */
:host {
    display: block;
    margin-top: 1rem;
}


mat-spinner{
    margin: auto;
}

.info-text{
    text-align: center;
}

.post-image{
    /* height: 10rem; */
    width: 100%;
}

.post-image img{
    /* height: 100%; */
    width: 100%;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}
